.header__wrapper {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  box-shadow: 7px 10px 15px gray;
  z-index: 2;
}

.chat-screen {
  background-image: url("../img/chatBG2.png");
  min-height: 150vh;
}
.chat-body {
  padding: 10px 0px;
  padding-top: 100px;
}

.chat-body .status-bar,
.chat-body .header {
  padding: 0px 20px;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;

  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);*/
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
.chat__icon {
  font-size: 18px;
  transition: opacity 0.5s ease-in-out;
}
.chat__icon--left {
  position: absolute;
  left: 25px;
}
.chat__icon--right {
  position: absolute;
  right: 25px;
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out, outline 0.3s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  animation: textAnimation 1s linear infinite;
  transform: translateY(-50px);
  border-radius: 40px;
  box-shadow: 7px 10px 15px gray;
}

@keyframes textAnimation {
  0% {
    box-shadow: 7px 10px 15px gray;
  }
  50% {
    box-shadow: 7px 10px 50px gray;
  }
  100% {
    box-shadow: 7px 10px 15px gray;
  }
}

/*
  .chat__write-column 의 두번째 요소를 가리킴. 
*/
.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
}

.chat-screen .chat__messages {
  border-top: 1px solid #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin-bottom: 20px;
}
.message .message__content {
}

.incoming-message img {
  width: 30px;

  margin-right: 15px;
}

.incoming-message {
  justify-content: flex-start;
  animation: incomingMsgAnimation 0.5s ease-in-out forwards;
}
@keyframes incomingMsgAnimation {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.sent-message {
  justify-content: flex-end;
  animation: sentMsgAnimation 0.5s ease-in-out forwards;
}
@keyframes sentMsgAnimation {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message .message__bubble {
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 7px 10px 15px gray;
  color: white;
  font-weight: 600;
}

.incoming-message .message__author {
  margin-top: 15px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
}

.incoming-message .message__bubble {
  background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}

.sent-message .message__bubble {
  background-image: linear-gradient(to left, #b6fbff, #83a4d4);
}
